# .NET Core
bin/
obj/
*.dll
*.exe
*.pdb
*.userprefs
*.vscode
*.vs

# Build artifacts
[Bb]in/
[Dd]ebug/
[Oo]ut/

core

# Visual Studio
.vscode/
*.sln
*.suo
*.bak
*.cache
*.csproj.user
*.user
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.dotCover
*.resharper
*.resharper.user
*/[Tt]est[Rr]esult*/
[Tt]est[Rr]esults/
_UpgradeReport_Files/
TestResults/

# Unity3D
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Bb]uild-[Ll]ogs/
[Uu]nityGenerated/
/[Uu]nity[Cc]rashHandler32
/[Uu]nity[Cc]rashHandler64
/[Uu]nity[Ll]icense[.a-zA-Z0-9]*